# Dependencies
node_modules/

# Environment / secrets
.env
.env.*
!.env.example

# Next.js
.next/
out/

# NestJS / builds
dist/
coverage/

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Prisma generated
apps/api/generated

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db
node_modules
